form.signin {
  width: 100%;
  max-width: 400px;
  background: white;
  padding:40px;
  margin:0 auto;
  margin-top:100px;
  margin-bottom: 10px;
}

form.signin img.logo {
  width: 60px;
  display: inline-block;
  vertical-align: top;
}

form.signin h3.club-name {
  margin:0;
  display: inline-block;
  font-size: 50px;
  margin-left: 10px;
  margin-bottom: 15px;
  font-weight: normal;
  font-style: italic;
  vertical-align: middle;
}

form.signin input {
  margin-top: 10px;
}

form.signin button {
  margin-top: 20px;
}

#bg {
  position: fixed; 
  z-index:-1;
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.form-control {
  border-radius: 0;
  border-width: 2px;
  border-color: #ddd;
}.form-control:focus {
  outline: 0; 
  border-color: @blue;
  box-shadow: none;
} 