html {
  height:100%;
}

body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  padding: 15px;
}

h2, p {
  color: #333;
}

h1 {
  margin-top:0px;
}

p {
  font-size: 16px;
  line-height:25px;
  margin-bottom:20px;
}

label {
  display:block;
}

.form-group {
  display:inline-block;  
}

.result-text {
  font-size:20px;
  line-height:1.4em;
  font-weight:bold;
  color:#666;
  display:inline-block;
  vertical-align:middle;
  padding-top:5px;
}

.seperator {
  margin-top:20px;
  background:#dfdfdf;
  height:5px;
}

.container {
  border-radius:5px;
  padding:50px;
  background: rgba(255, 255, 255, 0.95);
}

@media (max-width : 480px) {
  .container {
    padding:40px 30px;
  }
}

#seq-cont {
  padding-top:30px;
  line-height:50px;
  font-size: 40px; 
  word-break:break-all;
}

.match {
  color: red;
}

#bg {
  position: fixed; 
  z-index:-1;
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.btn {
  margin-left:10px;
  margin-right:10px;
  margin-top:5px;
}

.form-control {
  margin-top:5px;
  border-radius: 0;
  border-width: 2px;
  max-width:100px;
  display:inline-block;
  border-color: #ddd;
}.form-control:focus {
  outline: 0; 
  box-shadow: none;
} 